{#=====================================================
  Home page
  - Hero style greeting banner
  - List of tasks passed in as 'tasks' array
  - Form for adding a new task
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    {# Only show form if user is logged out #}
    {% if session.user_id %}

    {% else %}

    <h1>Flask Demo App with Turso DB and User Accounts</h1>

    <p>This is a simple Flask app that connects to a Turso database to save and retrieve data, and also manage user accounts. This can be used as the basis of your web app.</p>

    <p>It includes...</p>

    <ul>
        <li>Example routes</li>
        <li>Example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>User account creation</li>
        <li>User login / logout</li>
        <li>Adaption of menus / routes / content based on login status</li>
        <li>Flash messages for information</li>
    </ul>

    <a href="/tasks" role="button">Go to the Tasks...</a>

    {% endif %}

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <h1>Tasks...</h1>


    <article>



        <ul>{% for task in tasks %}

                <li>
                    <a href="/task/{{ task.id }}">
                        <strong>{{ task.name }}</strong>
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Task...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                 name="name"
                placeholder="Name of new thing"
                required
            >

            <button>Add the Task</button>

        </form>

    </article>

    {% endif %}

{% endblock %}

