{#=====================================================
  Thing page
  - Shows details of a single task
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Task

{% endblock %}


{% block content %}

    <h1>A Single Task...</h1>


    <article>

            <header>
                <h4>{{ task["name"] }}</h4>
            </header>

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (task.user_id == session.user_id) %}

                <a href="/delete/{{ task.id }}" onclick="return confirm('Really delete?');">Delete</a>

            {% else %}

                Owner: <strong>{{ task.user }}</strong>

            {% endif %}

        </footer>

    </article>


    <a role="button" href="/tasks">Back to Task List</a>

{% endblock %}

